
* {
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove preenchimentos padrão */
  box-sizing: border-box; /* Inclui borda e padding no tamanho total */
}  

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #07f;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Define a fonte principal do texto */
  line-height: 1.5em; /* Define a altura da linha para melhor legibilidade */
  background-color: var(--fundo-principal); /* Define a cor de fundo do corpo da página */
  color: var(--texto); /* Define a cor do texto */
}

header {
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

nav#menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}
